<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Registro</h1>
      <p class="lead">Inicia sesion<a routerLink="/login">aqui</a> porfavor.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Nombre Completo</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Clave</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Registrarse</button>
      </form>
    </div>
  </div>

</div>
