<div>
  <button class="btn btn-default"  (click)="verNotas()">Ver notas</button>
  <ul *ngIf="notas.length > 0"class="list-group">
  <li  *ngFor=" let nota of notas" class="list-group-item">{{nota.nota}}
     <span class="pull-right">
        <button class="btn btn-xs btn-danger" (click)="eliminarNota(nota._id)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
  </li>
</ul>
<hr>
  <br><br><br>
  <form (submit)="guardarNota()">
    <div class="form-group">
      <label>Nueva Nota</label>
    </div>
    <div class="form-group">
      <label>Nota</label>
      <input type="text" class="form-control" name="nota" placeholder="Nota" [(ngModel)]="notaSchema.nota">
    </div>
    <button type="submit" class="btn btn-default">guardar nota!</button>
  </form>
</div>
